

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.textContainer{
    text-align: left;
    margin-left: 20px;
}

.detailsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.doorIcon{
    width:45px;
}

.grey{
    color: #969697 !important; 
}
