.image{
    width: 100%;
    max-width: 500px    
}

.loading{
    width: 100%;
    max-width: 500px;
    margin-bottom:24px;
}

.loadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}